<%= simple_form_for @post, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

    <%= f.input :title %>
    <%= f.input :author, collection: Author.all.map {|a| a.name} %>
    <%= f.input :content, :input_html => {:rows => 10} %>
    <%= f.input :status %>

    <div class=".btn-group.pull-right">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
<% end %>
